<%= form_for([@vendor, @listing]) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Vendor: <%= @vendor.name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :species %>
    <%= f.text_field :species %>
  </div>

  <div class="field">
    <% hidden_field_tag "listing[buyer_ids][]", nil %>
    <% Buyer.all.each do |buyer| %>
      <%= check_box_tag "listing[buyer_ids][]", buyer.id,
        listing.buyer_ids.include?(buyer.id), id: dom_id(buyer) %>
      <%= label_tag dom_id(buyer), buyer.name %> <br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
