<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @listing.vendor.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Species:</strong>
  <%= @listing.species %>
</p>

<p>
  <strong>Potential buyers:</strong>
  <ul>
    <% @listing.buyers.each do |buyer| %>
        <li><%= buyer.name %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Offers:</strong>

  <table>
    <thead>
      <tr>
        <th>Buyer</th>
        <th>Amount</th>
        <th>Accepted</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.buyer.name %></td>
          <td><%= offer.amount %></td>
          <td><%= offer.accepted ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>




<%= link_to 'Edit', edit_vendor_listing_path(@vendor, @listing) %> |
<%= link_to 'Back', vendor_listings_path(@vendor) %>
