<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @listing.vendor.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Species:</strong>
  <%= @listing.species %>
</p>

<p>
  <strong>Potential buyers:</strong>
  <ul>
    <% @listing.buyers.each do |buyer| %>
        <li><%= buyer.name %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Offers:</strong>

  <table>
    <thead>
      <tr>
        <th>Buyer</th>
        <th>Amount</th>
        <th>Accepted</th>
        <% unless @listing.has_accepted_offer? %>
          <th>Accept</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @listing.offers.each do |offer| %>
        <tr>
          <td><%= offer.buyer.name %></td>
          <td><%= offer.amount %></td>
          <td><%= offer.accepted ? 'Yes' : 'No' %></td>
          <% unless @listing.has_accepted_offer? %>
            <td>
              <%= link_to 'Accept', vendor_offer_path(offer.vendor, offer, { 'offer[accepted]'=> true}), method: :put, data: { confirm: 'Are you sure you want to accept this offer?'} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_vendor_listing_path(@vendor, @listing) %> |
<%= link_to 'Back', vendor_listings_path(@vendor) %>
