<!DOCTYPE html>
<html>
  <head>
    <title>BeeMarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Listings", listings_path %>
    <%= link_to "Buyers", buyers_path %>
    <%= link_to "Vendors", vendors_path %>    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
